<p id="notice"><%= notice %></p>

<p>
  <strong>Mviccalzadad:</strong>
  <%= @vias_engativa.mviccalzadad %>
</p>

<%= link_to 'Edit', edit_vias_engativa_path(@vias_engativa) %> |
<%= link_to 'Back', vias_engativas_path %>
